# Virtual environment
venv/

.vercel/

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Django-specific
*.log
*.sqlite3

# Environment variables
.env

# Nixpacks
.nixpacks.json

# Deployment files
Dockerfile
Procfile
vercel.json
runtime.exe
